@media only screen and (max-width : 1200px) {
    .home {
        background: url("../img/main_bg_1368.jpg") no-repeat;
    }
}
@media only screen and (max-width : 960px) {
    .home {
        background: url("../img/main_bg_960.jpg") no-repeat;
    }
}
@media only screen and (max-width : 767px) {
    .home {
        background: url("../img/main_bg_768.jpg") no-repeat;

        .inner {
            width: 95%;
        }

        .logo {
            float: left;
            font-size: 2.5em;
        }

        .nav {
            display: none;
        }

        .nav li {
            margin: 0 auto;
            width: 90vw;
            display: block;
            text-align: center;
        }

        .nav li a {
            display: block;
            line-height: 25px;
            font-size: 1.6em;
            text-align: center;
            font-weight: bold;
            box-sizing: border-box;
        }

        .nav li a:hover {
            border-bottom: none !important;
            background: rgba(255, 255, 255, .1);
        }

        #touch-menu {
            display: inline-block;
            float: right;
        }
    }
}
@media only screen and (max-width : 480px) {
    .home {
        background: url("../img/main_bg_480.jpg") no-repeat;
    }
}
